@using RunGroupWebApp.ViewModels
@model EditUserDashboardViewModel
@*
    
*@
@{
}

<form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
    <input type="hidden" id="Id" name="Id" asp-for="Id" />
    
    <div class="form-group">
        <label asp-for="Pace">Pace</label>
        <input asp-for="Pace" class="form-control" placeholder="Pace" />
        <span asp-validation-for="Pace" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Milage">Milage</label>
        <input asp-for="Milage" class="form-control" placeholder="Milage"/>
        <span asp-validation-for="Milage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.Street">Street</label>
        <input asp-for="Address.Street" class="form-control" placeholder="Street" />
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.City">City</label>
        <input asp-for="Address.City" class="form-control" placeholder="City" />
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.State">State</label>
        <input asp-for="Address.State" class="form-control" placeholder="State" />
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
